#menu
{
	display:flex;
	justify-content: flex-end;
	align-content: space-between;
}

#marsha
{
	display:flex;
	justify-content: center;
}

#divrecherche
{
position:absolute;
top:220px;
text-align: right;
width:750px;
}

#submit
{
	display:flex;
	justify-content: center;
}

footer
{
	background-color:rgb(220,220,220);
}

#pied
{
	display:flex;
	justify-content:space-between;
}
